doctype html
html(lang='zh-Hant')

	head

		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
		meta(name='viewport' content='width=device-width, initial-scale=1')

		meta(property='og:title' content='25sprout 1st Hackathon')
		meta(property='og:image' content='https://25sprout.github.io/1st-hackathon/static/meta.jpg')
		meta(property='og:url' content='https://25sprout.github.io/1st-hackathon')
		meta(property='og:description' content='Let\'s hack everything')

		title 25sprout 1st Hackathon

	body

		.confuseing-typing

		.banner-section

			.countdown-timer
				.days
					.value
					span DAYs
				.hours
					.value
					span HR
				.minutes
					.value
					span MIN
				.seconds
					.value
					span SEC

			img.cat(src=require('../images/cat.png'))

			.title

		.team-wrapper

			each team in htmlWebpackPlugin.options.teams

				.team-section
					.main
						.title= team.title
						.information
							.members
								each member in team.members
									.member-sticker
										img.sticker(src=require('../images/sticker/' + member + '.png'))
										.name= member
							.block
								if team.link
									a.link(href= team.link target='_blank')
					.description!= team.description

		.footer-block
			a.logo(href='http://www.25sprout.com' target='_blank')
				include ../images/25sprout.svg
